<div class="top-banner" style="background-image: url(/assets/stocks.jpg)">
    <h1>Stocks</h1>
</div>

<div class="container">
    <form action="/stocks/info">
        <label>
            Stock code:
            <input name="code" placeholder="GOOG" required>
        </label>
        <button>Find stock price</button>
    </form>
</div>