<div class="top-banner" style="background-image: url(/assets/stocks.jpg)">
    <h1>Stocks</h1>
</div>

<div class="container">
    <h2>
    The stock price of <%= params[:code].upcase %> is $<%= @price %>
    </h2>
</div>