<h1>Asset Helpers</h1>

<%# cache busting %>
<%= image_tag 'smoking.jpg', :alt => 'A child smoking' %>

<%= image_tag 'http://www.fillmurray.com/500/650', :alt => 'Handsome young Bill', :class => 'hodgods' %>

<p>
    There are also helpers for <code>video_tag</code> and <code>audio_tag</code>
</p>