<a href="/books">
    <div class="banner half" style="background-image: url(/assets/books.jpg)">
        <h1>
            Books
        </h1>
    </div>
</a>

<a href="/stocks">
    <div class="banner half" style="background-image: url(/assets/stocks.jpg)">
        <h1>
            Stocks
        </h1>
    </div>
</a>