<div class="top-banner" style="background-image: url(/assets/books.jpg)">
    <h1>Books</h1>
</div>

<h2>Search for a book</h2>

<div class="container">
    <form action="/books/info">
        <label>
            Book title:
            <input name="title" placeholder="Jaws" required>
        </label>
        </br>
        <button>Find book info</button>
    </form>
</div>